<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>

    <style type="text/css">
        body {
            padding-top:114px;
        }
        nav, .navbar-default {background-color: #fff;}
        .navbar-brand {
            padding: 8px 15px;
        }
        .eyebrow, .chat-top-bar {
            color:#fff;
            text-align: center;
            min-height: 34px;
            padding-top: 8px;
        }
        .eyebrow {
            background-color: #005372;
        }
        .chat-top-bar {
            background-color: #e5e5e5;
        }
        .eyebrow span {
            color:#ecc21c;
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <% include ../partials/np-navbar.ejs %> 

    <picture class="">
        <source srcset="tablet-homepage" media="(min-width: 601px)">
        <source srcset="">
        <img src="/images/mobile-homepage.png" alt="">
    </picture>

    <picture class="">
        <source srcset="tablet-homepage" media="(min-width: 601px)">
        <source srcset="">
        <img src="/images/mobile-homepage.png" alt="">
    </picture>

    <h3><a href="https://newpig.atlassian.net/browse/ECAP-39">ETRAF-17</a> <small>eyebrow</small></h3>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action 
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
        </p>
      </div>-->

        
    </div>

</body>
</html>